.icon {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0 4px;
}

.icon-edit {
	background-image: url('/Contents/images/editPassword.png');
}

.icon-arrow {
	background-image: url('/Contents/images/hd-pop.png');
	background-size: 14px;
	border: none;
	background-color: #fff;
}

.icon-signOut {
	background-image: url('/Contents/images/signOut.png');
}

.icon-first {
	background-image: url('/Contents/images/page-first.png');
}

.icon-prev {
	background-image: url('/Contents/images/page-prev.png');
}

.icon-next {
	background-image: url('/Contents/images/page-next.png');
}

.icon-last {
	background-image: url('/Contents/images/page-last.png');
}

.icon-reload {
	background-image: url('/Contents/images/reload.png');
}

.icon-search {
	margin: 0;
	background-image: url('/Contents/images/icon-search.png');
}
